
*{
}

main{
  display: flex;

}
body{
  font-family: 'Inter', sans-serif;
  background-color: #3734a9;
}

nav{

}

h1{
  font-size: 60px;
}

.conteudo{
  background-color: #3734a9;
  color: #FFFFFF;
}

.formulario{
  background-color: #FFFFFF;
  padding: 50px;
  border-radius: 10px;
}